PORT=3000
MONGODB_URI=mongodb://localhost:27017/labflow-booking
TEST_SERVICE_URL=http://localhost:3001/tests
DOCTOR_SERVICE_URL=http://localhost:3003/doctors
PATIENT_SERVICE_URL=http://localhost:3002
